<% include ../../partials/header.ejs %>
<% include ../../partials/navbar.ejs %>
<%if(message){%>
  <div class="modal fade" id="message-modal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <h5><%= message%></h5>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" id="modal-close">Close</button>
        </div>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function(){
      $('#message-modal').modal("show");
    });
  </script>
<%}%>
<div style="display:none" id="userid"><%=user.playerid%></div>
<div style="display:none" id="username"><%=user.username%></div>




<div class="container-fluid top-spacer-small">
  <h2 class = "text-center">
    <div class="row">

      <%if(!user.premium){%>
      <a class="patreon-bg col-md-6 hvr-fade" href="https://www.patreon.com/wecasual" target="_blank">
        <img class="rounded" alt="patreon-logo" width="128" height="64" src="/images/patreon-logo.png">
        <span class = "explain-words align-middle">Get Wecasual Premium!</span>
      </a>
      <%}else{%>
      <a class="patreon-bg col-md-6 hvr-fade" href="https://www.patreon.com/wecasual" target="_blank">
        <img class="rounded" alt="patreon-logo" width="128" height="64" src="/images/patreon-logo.png">
        <span class = "explain-words align-middle">You have Premium! &#10004; </span>
      </a>
      <%}%>

      <%if(user.status == 'Not in Discord'){%>
      <a class="discord-bg col-md-6 hvr-fade hvr-fade-discord" href="https://discord.gg/xGKTNzv" target="_blank">
        <img class="rounded" alt="patreon-logo" width="64" height="64" src="/images/discord-logo-white.png">
        <span class = "explain-words align-middle">Join the Discord</span>
      </a>
      <%}else{%>
      <a class="discord-bg col-md-6 hvr-fade hvr-fade-discord" href="https://discord.gg/xGKTNzv" target="_blank">
        <img class="rounded" alt="patreon-logo" width="64" height="64" src="/images/discord-logo-white.png">
        <span class = "explain-words align-middle">Joined the Discord &#10004; </span>
      </a>
      <%}%>

    </div>
  </h2>


  <div class="row mt-5">
    <div class="col-lg-3">
      <h5 class="text-center my-1">
        <b>Home</b>
      </h5>
      <hr class = "my-1">
      <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action active text-center" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Play</a>
        <a class="list-group-item list-group-item-action text-center" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Profile</a>
      </div>

      <!-- PROFILE INFO -->
      <div class="card rounded my-3">
        <ul class="list-group list-group-flush mt-0">
          <li class="list-group-item p-0  text-left mt-0">
            <!-- AVATAR AND NAMES -->
            <div class="m-3 text-center">
              <img height="128" width="128" class = "rounded-circle" src='<%= user.avatar %>' alt='Your Avatar Image' />
              <h2>
                <span class="align-bottom text-1.3em"><%= user.username %></span>
              </h2>
              <hr>
            </div>

            <!-- POINTS AND PREMIUM -->
            <div class="row m-3 text-center">
              <div class="col-md-6">
                <div class="p-1">
                  <h5>Wecasual Premium </h5>
                  <%if(!user.premium){%>
                    <img class="rounded mb-2" alt="wecasual-premium-image-non-active" width="64" height="64" src="/images/premium-non-active.png">
                    <h5><p><b>Not Active</b></p></h5>
                  <%}else{%>
                    <img class="rounded mb-2" alt="wecasual-premium-image-active" width="64" height="64" src="/images/premium-active.png">
                    <h5><p><b>Active</b></p></h5>
                  <%}%>


                </div>
              </div>
              <div class="col-md-6">
                <div class="p-1">
                  <h5>Wecasual Points</h5>

                  <%if(!user.premium){%>
                    <img class="rounded mb-3" alt="wecasual-points-image" width="107" height="55" src="/images/coins-small.png">
                    <h5><b>N/A</b></h5>
                  <%}else{%>
                    <img class="rounded mb-3" alt="wecasual-points-image" width="107" height="55" src="/images/coins-gold-dark.png">
                    <h5><b><%= user.wecasualpoints %></b></h5>
                  <%}%>
                </div>
              </div>
            </div>

            <!-- Team -->
            <div class="m-3">
              <h5>Team:
                <%if(user.activeTeam[0]){%>
                <a href="/dota/tournament?teamid=<%= user.activeTeam[0].teamid%>"><b><%= user.activeTeam[0].teamname %></b></a>
                <%}else{%>
                  <b>No team</b>
                <%}%>
              </h5>
            </div>
            <!-- Total Games -->
            <div class="m-3">
              <h5>Games played: <b><%= user.totalgames%></b></h5>
            </div>

          </li>
        </ul>
      </div>

      <!-- PLAYING GUIDE -->
      <div class="card rounded my-3">
        <ul class="list-group list-group-flush mt-0">
          <li class="list-group-item p-0  text-center mt-0">
            <a class="m-3 pink-btn btn btn-primary mb-2 dropdown" href="#readBeforePlaying" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample">
              <h5 class = "mb-0">How to Wecasual<span class="down-caret"></span></h5>
            </a>

            <div class="text-left collapse card-body pre-scrollable p-1" id="readBeforePlaying">
              <hr>
                <h4 class="card-title">Before the Game</h4>
                <ul class="card-text pl-3">
                  <li>Join the discord 15 minutes early</li>
                  <li>Join the <b>Hangout</b> room (ex. Icewrack)</li>

                </ul>
                <h4 class="card-title mt-2">How to join a game</h4>
                <ul class="card-text pl-3">
                  <li>Search <b>custom lobbies</b> for Wecasual</li>
                  <li>Join lobby <b>"Wecasual [Your Discord Room Name]"</b> (ex. Wecasual Icewrack)</li>
                  <li>Lobby password: <b>wecasual2017</b></li>
                </ul>
                <h4 class="card-title mt-2">During the game</h4>
                <ul class="card-text pl-3">
                  <li>Only pause for technical issues or bathroom breaks</li>
                  <li><b>DO NOT</b> call false/early gg's</li>
                  <li>All chat must <b>ALWAYS BE POSITIVE</b></li>
                  <li>Report a player for any false gg calls or excessive pauses<a href="/contact" target="_blank"> here</a></li>
                </ul>
                <h4 class="card-title mt-2">After the game</h4>
                <ul class="card-text pl-3">
                  <li>Head back to the <b>Hangout</b> and chill!</li>
                  <li>We encourage you to stick around, discuss the game, and have fun!</li>
                </ul>
                <hr>
                <div class = "card-text  mb-4 pl-2"><i>For more details, please see the <a href="/dota/rules" target="_blank">rules</a></i></div>
            </div>
          </li>
        </ul>
      </div>
      <!-- TOURNAMENT -->
      <!-- <div class="card rounded my-3">
        <ul class="list-group list-group-flush mt-0">
          <li class="list-group-item p-0  text-left mt-0">
            <a class="m-3 pink-btn btn btn-primary mb-2" href="https://airtable.com/shrtP1DYNpqdA5eZP" target="_blank" style="background-color: #f00">
              <h5 class = "mb-0">Sign up for the Wecasual tournament!</h5>
            </a>
            <div class="m-3">
              <h4>Tournament Details:</h4>
              <p>The tournament will be held on <b>Saturday, November 11th</b> at <b>7:00 PM EST</b>.
              <p>You can sign up as an individual and we will put you on a team, or you can request teammates to play with. We will try to fulfill all teammate requests.</p>
              <p>The tournament format is not decided yet since we don't know how many teams we will get, but each series will be a <b>Bo3</b>.</p>
              <p>Games will officially start at <b>7:00 PM EST</b>. Please show up at <b>6:45 PM</b> so we can start on time.</p>
            </div>
          </li>
        </ul>
      </div> -->
      <!-- END TOURNAMENT -->

    </div>



    <div class="col-lg-9">
      <div class="tab-content" id="nav-tabContent">
        <!-- HOME -->
        <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
          <!-- GAME SIGNUP -->
          <div class="card rounded">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <a class="pink-btn btn btn-primary mb-2 dropdown" href="#gameSignup" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample">
                  <h4 class = "mb-0">Game Signup<span class="down-caret"></span></h4>
                </a>
                <p class ="mb-0">Sign up for an existing game, all members welcome!</p>
                <div class="collapse card-body" id="gameSignup">

                  <form id="game-signup" method="post" action="/schedule/gameSignup">
                    <div class="form-group ">
                      <div class="card-body pre-scrollable pre-scrollable-mini">
                        <table class="table table-striped">
                          <thead>
                              <tr>
                                <th></th>
                                <th>Game</th>
                                <th>Time</th>
                                <th>Team 1 Slots</th>
                                <th>Team 2 Slots</th>
                              </tr>
                          </thead>
                          <tbody id="game-list">
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <h5>Select a Team</h5>
                    <div class="form-group ">
                      <div class="radio">
                        <label><input type="radio" name="team" value="1"> Team 1</label>
                      </div>
                      <div class="radio">
                        <label><input id="team2" type="radio" name="team" value="2"> Team 2</label>
                      </div>
                    </div>
                    <div class="form-group ">
                      <input type="submit" value="Sign up" class = "btn btn-secondary">
                    </div>
                  </form>
                  <hr>
                  <ul>
                    <li>If you sign up you MUST ATTEND.</li>
                    <li>You can sign up as 6/5. You will be the official sub if someone drops.</li>
                  </ul>
                </div>

              </li>
            </ul>
          </div>

          <!-- SCHEDULE A GAME -->
          <div class="card rounded mt-3">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <a class="pink-btn btn btn-primary mb-2 dropdown" href="#scheduleAGame" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample">
                  <h4 class = "mb-0">Schedule a Game<span class="down-caret"></span></h4>
                </a>
                <p class ="mb-0">Schedule your own game time</p>
                <div class="collapse card-body" id="scheduleAGame">
                  <form id="schedule-game" method="post" action="/schedule/scheduleGame">
                    <h5>Game Type</h5>
                    <label>Ex. Captains Mode, Pub Session, ARDM</label>
                    <div class="form-group ">
                      <input type="text" name="gameType" placeholder="Game type" id="gameType">
                    </div>
                    <br>
                    <h5>Pub Session</h5>
                    <div class="form-group ">
                        <label><input type="checkbox" name="pubSession" id="pubSession"> Check if this is a pub session and you are only looking for a 5 stack</label>
                    </div>
                    <br>
                    <h5>Date and Time</h5>
                    <label>Please schedule times in EST to keep things consistent</label>
                    <div class="form-group ">
                      <input type="date" name="date" value="" id="date">
                      <input type="time" name="time" value="21:00" id="time">
                    </div>
                    <br>
                    <h5>Discord Room</h5>
                    <label>Please select a room that isn't in use at the time you are scheduling the game for</label>
                    <div class="form-group">
                      <select name="discordRoom" id="discordRoom">
                        <option value = "1" selected="selected">The Hoven</option>
                        <option value = "2" >Icewrack</option>
                        <option value = "3" >Knollen</option>
                      </select>
                    </div>
                    <br>
                    <h5>Announce on Discord</h5>
                    <div class="form-group ">
                        <label><input type="checkbox" name="announce" checked id="announce"> Check if you want a signup link posted to the Discord</label>
                    </div>
                    <div class="form-group ">
                      <input type="submit" value="Schedule Game" class = "btn btn-secondary">
                    </div>
                  </form>
                </div>
              </li>
            </ul>
          </div>

          <!-- SCHEUDLE -->
          <div class="card rounded p-4 mt-3">
            <h3 class = "mb-0" id="my-schedule">Schedule</h3>
            <hr>
              <div class="pre-scrollable calendar-container">
                <div class="game-info-opacity"></div>
                <div class="card rounded game-info p-2">
                  <div class="game-info-header p-2">
                    <span id="game-title"></span>
                    <span id="signup-link"></span>
                    <div id="game-time"></div>

                  </div>
                  <div class="game-info-body row">
                    <div class="col-md-6">

                      <div class="p-2">
                        Team 1
                        <span id="team1-slots"></span>
                        <div id="team1-roster">

                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">

                      <div class="p-2">
                        Team 2
                        <span id="team2-slots"></span>
                        <div id="team2-roster">

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <table class="table-calendar" id="divCal">

                </table>
              </div>
            <!-- <iframe class="airtable-embed" id="airtable-schedule" src="https://airtable.com/embed/shrOdXUN6J3hiyYtv?backgroundColor=purple" frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc;"></iframe> -->
          </div>
        </div>
        <!-- END HOME -->
        <!-- PROFILE -->
        <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
          <!-- YOUR GAMES -->
          <div class="card rounded mt-3">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <h3 class = "mb-0">Your Games</h3>
                <div class="card-body pt-0">
                  <div class=" pre-scrollable">
                    <table class="table table-striped">
                      <thead>
                          <tr>
                            <th>Game</th>
                            <th>Time</th>
                            <th>Team 1 Slots</th>
                            <th>Team 2 Slots</th>
                            <th>Your Team</th>
                            <th>Discord Room</th>
                          </tr>
                      </thead>
                      <tbody id="my-game-list">
                      </tbody>
                    </table>
                  </div>
                  <!-- <h5 class = "ml-1 mt-1"><i>Games with insufficient players 24 hours before game time will be cancelled (You will be notified)</i></h5> -->
                  <ul>
                    <li>Games with insufficient players 24 hours before game time will be cancelled (You will be notified).</li>
                    <li>If you want to cancel a sign up you must email us at robert@wecasual.gg or message us on Discord 24 hours before the game.</li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
          <!-- FRIEND LIST -->
          <div class="row">
            <div class="col-md-6 col">
              <div class="card rounded mt-3">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <h3>Friends</h3>
                    <div class="card-body pre-scrollable">
                      <div id="friends-list">

                      </div>
                      <!-- <table class="table table-striped">
                        <thead>
                            <tr>
                              <th></th>
                              <th></th>
                            </tr>
                        </thead>
                        <tbody id="friends-list">
                        </tbody>
                      </table> -->
                    </div>
                  </li>
                </ul>
              </div>
            </div>

            <!-- FRIEND REQUESTS -->
            <div class="col-md-6 col">
              <div class="card rounded mt-3">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <h3>Friend Requests</h3>
                    <p class = "mb-0">People who want to add you as a friend</p>
                    <div class="card-body pre-scrollable">
                      <div id="friend-requests">

                      </div>
                      <!-- <table class="table table-striped">
                        <thead>
                            <tr>
                              <th></th>
                              <th></th>
                              <th></th>
                              <th></th>
                            </tr>
                        </thead>
                        <tbody id="friend-requests">
                        </tbody>
                      </table> -->
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- ADD FRIENDS -->
          <div class="card rounded mt-3">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <h3>Add a friend</h3>
                <p class ="mb-0">Click to send a friend request</p>
                <input type="text" id="user-search" onkeyup="search()" placeholder="Search for a user..">
                <div class="card-body pre-scrollable friend-search">
                  <!-- <div class="loading-ring"></div> -->
                  <ul id="user-list">
                  </ul>
                </div>
              </li>
            </ul>
          </div>



        </div><!-- END PROFILE -->
        <!-- RULES -->
        <div class="tab-pane fade" id="list-rules" role="tabpanel" aria-labelledby="list-rules-list">

        </div><!-- END RULES -->
      </div>
    </div> <!-- BIG COL -->
  </div> <!--ROW-->
</div> <!-- CONTAINER -->
<script src="../../scripts/calendar-week.js"></script>
<!-- <script src="../../scripts/populateCalendar.js"></script> -->
<script src="../../scripts/friends.js"></script>
<script src="../../scripts/gameSignup.js"></script>
<script src="../../scripts/scheduleGame.js"></script>
<% include ../../partials/footer.ejs %>
