<% include ../../partials/header.ejs %>
<% include ../../partials/navbar.ejs %>
<%if(message){%>
  <div class="modal fade" id="message-modal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <h5><%= message%></h5>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" id="modal-close">Close</button>
        </div>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function(){
      $('#message-modal').modal("show");
    });
  </script>
<%}%>
<div style="display:none" id="userid"><%=user.playerid%></div>
<div style="display:none" id="username"><%=user.username%></div>




<div class="container-fluid top-spacer-small">
  <h2 class = "text-center">
    <!-- Quote Carousel -->
    <div id="carouselQuote" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner carousel-container" role="listbox" data-toggle="tooltip" data-placement="top" title="Add your own quote by purchasing a quote item in the shop!">
        <div class="carousel-item active">
          <div class="card p-1 mt-3"><h5><i>"I am a beacon of knowledge blazing out across a black sea of ignorance"</i> - Carl</h5></div>
        </div>
        <div class="carousel-item">
          <div class="card p-1 mt-3"><h5><i>"Go the shop page to get your quote here!"</i> - Wecasual</h5></div>
        </div>
      </div>
    </div>
  </h2>
  <div class="row">
    <div class="col-lg-3">
      <h5 class="text-center my-1">
        <b>Home</b>
      </h5>
      <hr class = "my-1">
      <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action text-center" id="list-play-list" data-toggle="list" href="#list-play" role="tab" aria-controls="play">Play</a>
        <a class="list-group-item list-group-item-action text-center" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Profile</a>
        <a class="list-group-item list-group-item-action text-center" id="list-challenges-list" data-toggle="list" href="#list-challenges" role="tab" aria-controls="challenges">Challenges</a>
        <a class="list-group-item list-group-item-action text-center" id="list-shop-list" data-toggle="list" href="#list-shop" role="tab" aria-controls="shop">Shop</a>
      </div>

      <!-- PROFILE INFO -->
      <div class="card rounded my-3">
        <ul class="list-group list-group-flush mt-0">
          <li class="list-group-item p-0  text-left mt-0">
            <!-- AVATAR AND NAMES -->
            <div class="m-3 text-center">
              <% if(user.avatar.includes('null')){ %>
                <img height="128" width="128" class = "rounded-circle" src='/images/avatar-default.png' alt='Your Avatar Image' />
              <% } else { %>
                <img height="128" width="128" class = "rounded-circle" src='<%= user.avatar %>' alt='Your Avatar Image' />
              <% } %>

              <h2>
                <span class="align-bottom text-1.3em"><%= user.username %></span>
              </h2>
              <!-- <hr> -->
            </div>
            <%if(!user.premium){%>
            <a class="patreon-bg col-md-12 hvr-fade text-center" href="https://www.patreon.com/wecasual" target="_blank">
              <img class="rounded" alt="patreon-logo" width="64" height="32" src="/images/patreon-logo.png">
              <span class = "explain-words align-middle">Get Wecasual Premium!</span>
            </a>
            <%}else{%>
            <a class="patreon-bg col-md-12 hvr-fade text-center" href="https://www.patreon.com/wecasual" target="_blank">
              <img class="rounded" alt="patreon-logo" width="64" height="32" src="/images/patreon-logo.png">
              <span class = "explain-words align-middle">You have Premium! &#10004; </span>
            </a>
            <%}%>

            <%if(user.status == 'Not in Discord'){%>
            <a class="discord-bg col-md-12 hvr-fade hvr-fade-discord text-center" href="https://discord.gg/xGKTNzv" target="_blank">
              <img class="rounded" alt="patreon-logo" width="32" height="32" src="/images/discord-logo-white.png">
              <span class = "explain-words align-middle">Join the Discord</span>
            </a>
            <%}else{%>
            <a class="discord-bg col-md-12 hvr-fade hvr-fade-discord text-center" href="https://discord.gg/xGKTNzv" target="_blank">
              <img class="rounded" alt="patreon-logo" width="32" height="32" src="/images/discord-logo-white.png">
              <span class = "explain-words align-middle">Joined the Discord &#10004; </span>
            </a>
            <%}%>
            <!-- POINTS AND PREMIUM -->
            <div class="row m-3 text-center">
              <div class="col-md-6">
                <div class="p-1">
                  <h5>Wecasual Premium </h5>
                  <%if(!user.premium){%>
                    <img class="rounded mb-2" alt="wecasual-premium-image-non-active" width="64" height="64" src="/images/premium-non-active.png">
                    <h5><p><b>Not Active</b></p></h5>
                  <%}else{%>
                    <img class="rounded mb-2" alt="wecasual-premium-image-active" width="64" height="64" src="/images/premium-active.png">
                    <h5><p><b>Active</b></p></h5>
                  <%}%>


                </div>
              </div>
              <div class="col-md-6">
                <div class="p-1">
                  <h5>Wecasual Points</h5>


                    <img class="rounded mb-3" alt="wecasual-points-image" width="107" height="55" src="/images/coins-gold-dark.png">
                    <h5><b><%= user.wecasualpoints %></b></h5>
                </div>
              </div>
            </div>

            <!-- Team -->
            <div class="m-3">
              <h5>Team:
                <%if(user.activeTeam[0]){%>
                <a href="/dota/tournament?teamid=<%= user.activeTeam[0].teamid%>"><b><%= user.activeTeam[0].teamname %></b></a>
                <%}else{%>
                  <b>No team</b>
                <%}%>
              </h5>
            </div>
            <!-- Total Games -->
            <div class="m-3">
              <h5>Games played: <b><%= user.totalgames%></b></h5>
            </div>

          </li>
        </ul>
      </div>

      <!-- PLAYING GUIDE -->
      <div class="card rounded my-3">
        <ul class="list-group list-group-flush mt-0">
          <li class="list-group-item p-0  text-center mt-0">
            <a class="m-3 pink-btn btn btn-primary mb-2 dropdown" href="#readBeforePlaying" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample">
              <h5 class = "mb-0">How to Wecasual<span class="down-caret"></span></h5>
            </a>

            <div class="text-left collapse card-body pre-scrollable p-1" id="readBeforePlaying">
              <hr>
                <h4 class="card-title">Before the Game</h4>
                <ul class="card-text pl-3">
                  <li>Join the discord 15 minutes early</li>
                  <li>Join the <b>Hangout</b> room (ex. Icewrack)</li>

                </ul>
                <h4 class="card-title mt-2">How to join a game</h4>
                <ul class="card-text pl-3">
                  <li>Search <b>custom lobbies</b> for Wecasual</li>
                  <li>Join lobby <b>"Wecasual [Your Discord Room Name]"</b> (ex. Wecasual Icewrack)</li>
                  <li>Lobby password: <b>wecasual2017</b></li>
                </ul>
                <h4 class="card-title mt-2">During the game</h4>
                <ul class="card-text pl-3">
                  <li>Only pause for technical issues or bathroom breaks</li>
                  <li><b>DO NOT</b> call false/early gg's</li>
                  <li>All chat must <b>ALWAYS BE POSITIVE</b></li>
                  <li>Report a player for any false gg calls or excessive pauses<a href="/contact" target="_blank"> here</a></li>
                </ul>
                <h4 class="card-title mt-2">After the game</h4>
                <ul class="card-text pl-3">
                  <li>Head back to the <b>Hangout</b> and chill!</li>
                  <li>We encourage you to stick around, discuss the game, and have fun!</li>
                </ul>
                <hr>
                <div class = "card-text  mb-4 pl-2"><i>For more details, please see the <a href="/dota/rules" target="_blank">rules</a></i></div>
            </div>
          </li>
        </ul>
      </div>
      <!-- TOURNAMENT -->
      <!-- <div class="card rounded my-3">
        <ul class="list-group list-group-flush mt-0">
          <li class="list-group-item p-0  text-left mt-0">
            <a class="m-3 pink-btn btn btn-primary mb-2" href="https://airtable.com/shrtP1DYNpqdA5eZP" target="_blank" style="background-color: #f00">
              <h5 class = "mb-0">Sign up for the Wecasual tournament!</h5>
            </a>
            <div class="m-3">
              <h4>Tournament Details:</h4>
              <p>The tournament will be held on <b>Saturday, November 11th</b> at <b>7:00 PM EST</b>.
              <p>You can sign up as an individual and we will put you on a team, or you can request teammates to play with. We will try to fulfill all teammate requests.</p>
              <p>The tournament format is not decided yet since we don't know how many teams we will get, but each series will be a <b>Bo3</b>.</p>
              <p>Games will officially start at <b>7:00 PM EST</b>. Please show up at <b>6:45 PM</b> so we can start on time.</p>
            </div>
          </li>
        </ul>
      </div> -->
      <!-- END TOURNAMENT -->
    </div>

    <div class="col-lg-9">
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="list-play" role="tabpanel" aria-labelledby="list-play-list">
          <!-- INSERT PLAY EJS -->
        </div>
        <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
          <!-- INSERT PROFILE EJS -->
        </div>
        <div class="tab-pane fade" id="list-challenges" role="tabpanel" aria-labelledby="list-challenges-list">
          <!-- INSERT CHALLENGES EJS -->
        </div>
        <div class="tab-pane fade" id="list-shop" role="tabpanel" aria-labelledby="list-shop-list">
          <!-- INSERT CHALLENGES EJS -->
        </div>
        <!-- RULES -->
        <!-- <div class="tab-pane fade" id="list-rules" role="tabpanel" aria-labelledby="list-rules-list">

        </div> -->
        <!-- END RULES -->
      </div>
    </div> <!-- BIG COL -->
  </div> <!--ROW-->
</div> <!-- CONTAINER -->

<!-- <script src="../../scripts/populateCalendar.js"></script> -->
<!-- <script src="../../scripts/gameSignup.js"></script> -->
<script src="../../scripts/home.js"></script>
<% include ../../partials/footer.ejs %>
