<% include ../partials/header.ejs %>
  <div class="container top-spacer">
    <div class="card">



      <aside class="callout rounded">
      <div class="text-vertical-center">
          <h1 class = "rounded blog-header"><%= post.title %></h1>
      </div>
  </aside>

  <section id="portfolio" class="portfolio">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 col-lg-offset-1">
                  <p class="lead"><a class ="rounded blog-link"href="/blog">&lt; Blog Home</a>
                  <p class="lead">By <%= post.author.first_name %> <%= post.author.last_name %> on <%= published.getMonth()+1 %>/<%= published.getDate() %>/<%= published.getFullYear() %></p>

                  <% if (post.categories.length > 0) { %>
                    in
                    <% post.categories.forEach(function(cat) { %>
                      <a href="/category/<%= cat.slug %>"><%= cat.name %></a>
                    <% }); %>
                  <% } %>

                  <br>

                  <div>
                    <%- post.body %>
                  </div>

              </div>
          </div>
      </div>
  </section>
  </div>
</div>
<% include ../partials/footer.ejs %>
