<% include ../partials/header.ejs %>
  <h2 style="display:none;" id="uid"><%=user.id %></h2>
  <div class="container top-spacer">
  	<!-- Intro section -->
  	<div class = "my-3">
      <h1>Your Profile</h1>
      <hr>
      <img class = "rounded" src='<%= user.steaminfo.avatar %>' alt='Your Avatar Image' />
      <span class="mr-3 align-middle p-5" style="font-size: 2em"><%= user.steaminfo.displayName %></span>
      <hr>
        <div class="row my-4">
          <div class="col-md-6 col">
            <div class="card">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <h3><b>Email: </b>
                  <% if(user.email){ %>

                  <%= user.email %>

                  <%}else{ %>
                    <i>No email</i>
                  <%}%>
                  </h3>
                </li>
                <li class="list-group-item">
                  <h3><b>Team: </b>
                    <% if(user.team){ %>

                    <%= user.team.name %>

                    <%}else{ %>
                      <i>No team</i>
                    <%}%>
                  </h3>
                </li>
                <!-- <li class="list-group-item">
                  <h3><b>Payment: </b>
                    <% if(user.paid){ %>

                    Paid

                    <%}else{ %>
                      <i>Not paid</i>
                    <%}%>
                  </h3>
                  <div class="font-italic">
                    Note subscription payments are not automatically charged. After your payment month ends you will have to pay again manually.
                  </div>
                </li> -->
              </ul>
            </div>
          </div>
          <div class="col-md-6 col mt-3">
            <h3>Update email:</h3>
            <form method="POST" action="/profile/updateEmail">
    					<div class="form-group ">
    						<input type="text" name="email" class="form-control" placeholder='Update email'>
    					</div>
    					<div class="form-group text-center">
    							<input type="submit" value="Submit" class = "btn btn-secondary btn-lg btn-block">
    					</div>
    				</form>
            <% if(!user.team){ %>
              <form method="POST" action="/profile/updatePlayerRequests" id="teammate-request-update">
                <h3>Update teammate requests:</h3>
                <input type="text" name="player-request" class="my-3 form-control" <% if(user.playerrequests.player1){%> value=<%= user.playerrequests.player1 %> <%}else{%>placeholder="Enter Steam display name"<%}%>>
                <input type="text" name="player-request" class="my-3 form-control" <% if(user.playerrequests.player2){%> value=<%= user.playerrequests.player2 %> <%}else{%>placeholder="Enter Steam display name"<%}%>>
                <input type="text" name="player-request" class="my-3 form-control" <% if(user.playerrequests.player3){%> value=<%= user.playerrequests.player3 %> <%}else{%>placeholder="Enter Steam display name"<%}%>>
                <input type="text" name="player-request" class="my-3 form-control" <% if(user.playerrequests.player4){%> value=<%= user.playerrequests.player4 %> <%}else{%>placeholder="Enter Steam display name"<%}%>>
                <input type="submit" value="Submit" class = "btn btn-secondary btn-lg btn-block" id="submit-player-requests">
              </form>
            <% } %>
          </div>
        </div>
        <% if(user.team){ %>
          <li class="list-group-item">
            <h3><b>Upcoming Games</b></h3>
              <div class="card-body pre-scrollable">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Date</th>
                      <th>Team 1</th>
                      <th>Team 2</th>
                    </tr>
                  </thead>
                  <tbody id="schedule-list">
                  </tbody>
                </table>
              </div>
            </div>
          </li>
        <% } %>
        <!-- Trigger the modal with a button -->
        <!-- Modal -->
        <div class="modal fade" id="game-modal" role="dialog">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" id="modal-close">&times;</button>

              </div>
              <div class="modal-body">
                <div id="team1-header">
                </div>
                  <table class="table" id="team1-table">
                    <thead>
                      <tr>
                        <th>Player</th>
                        <th>Going</th>
                      </tr>
                    </thead>
                    <tbody id="player-list-1">
                    </tbody>
                  </table>
                <div id="team2-header">
                </div>
                  <table class="table" id="team2-table">
                    <thead>
                      <tr>
                        <th>Player</th>
                        <th>Going</th>
                      </tr>
                    </thead>
                    <tbody id="player-list-2">
                    </tbody>
                  </table>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="modal-close">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>

  <!-- Message for email input correct or not -->
	<div class=alert>
		<% if(error){ %>
			<div class="alert-red">
				<%= error %>
				<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
			</div>
		<% }
		else if(message){ %>
			<div class="alert-green">
				<%= message %>
				<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
			</div>
		<% } %>
	</div>

	<!-- Close ALERT code -->
	<script>
		var close = document.getElementsByClassName("closebtn");
		var i;
		for (i = 0; i < close.length; i++) {
				close[i].onclick = function(){
						var div = this.parentElement.parentElement;
						div.style.opacity = "0";
						setTimeout(function(){ div.style.display = "none"; }, 600);
				}
		}
	</script>

<% if(user.team){ %>
  <script src="scripts/upcomingGames.js"></script>
<% } %>
<script src="scripts/profile.js"></script>
<% include ../partials/footer.ejs %>
